# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# CTags files
*.tags
tags

# Dirs to ignore
Arduino_spi/
AutoLight/
HoneyComm/
Modem/
Soil/

